* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 300px;
  height: 600px;
  background-color: #dcdcdc;
  margin: 100px;
}
.box {
  width: 300px;
  height: 300px;
}
.red {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
  top: 100px;
  left: 100px;
}
.green {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #008000;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.blue {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.purple {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #800080;
  position: sticky;
  top: 100px;
}
.spacer {
  height: 200vh;
}
